body{
    background-color: #0D121C;
}
*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.button{
    position: relative;
    display: block;
    text-align: center;
    background-color: #111D1E;
    padding: 1.5rem;
    border: 1px solid #203927;
    border-radius: 8px;
    overflow: clip;
}
.button--text{
    position: absolute;
    transform-origin: center center;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 99;
    color: #ffff;
}
.button--glow{
    position: absolute;
    height: 80px;
    width: 80px;
    background-image: radial-gradient(closest-side, rgba(0, 253, 42, 0.21), rgb(17, 29, 30, 0));
    backdrop-filter: blur(200px);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.button:hover{
    transition: 0.5s;
    background-color: #417E38;
}
.button:hover .button--glow{
    transition: 0.5s;
    background-image: radial-gradient(closest-side, rgba(0, 253, 42, 0.35), rgb(17, 29, 30, 0));
    height: 500px;
    width: 500px;
}
.button--secondary{
    color: #5dd44b;
    text-decoration: none;
}
.button--secondary:hover{
    color: #417E38;
    transition: 0.5s;
}
.button--icon{
    padding: 0.7rem 0.7rem;
    margin-left: 1rem;
}
.button--icon:hover{
    transition: 0.5s;
    background-color: #2C3437;
    padding: 0.7rem 0.7rem;
    border-radius: 8px;
}
.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #417E38;
    padding: 0.8rem 0.5rem;
}
.notification__text{
    color: #eeeeee;
}
.nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #0D121C;
    border-bottom: 1px solid #2C3437;
}
.nav__leftSection{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-left: 4rem;
}
.nav__rightSection{
    display: flex;
    align-items: center;
    margin-right: 4rem;    
}
.nav__logo{
    height: 25px;
    color: white;
}
.nav__links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav__items{
    gap: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #eeeeee;
    text-decoration: none;
}
.nav__popupIcon{
    color: #eeeeee;
}
.nav__searchButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eeeeee;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #2C3437;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
}
.nav__searchButtonIcon{
    height: 20px;
    margin-right: 8px;
}
.nav__searchButton:hover{
    background-color: #2C3437;
    transition: 0.5s;
}
.nav__searchButtonShortcut{
    margin-left: 2.5rem;
    background-color: #2C3437;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
}
.nav__mobileLinks{
    display: none;
    height: 18px;
}
.heroSection{
    display: grid;
    grid-template-columns: 7fr 10fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-top: 111px;
    overflow-x: hidden;
}
.heroSection__glowEffect{
    position: absolute;
    height: 800px;
    width: 800px;
    background-image: radial-gradient(closest-side, rgb(65, 126, 56, 0.21), #0D121C);
    top: -50%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.heroSection__text{
    margin-left: 4rem;
}
.heroSection__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 4rem;
}
.heroSection__image:hover {
  
}
.heroSection__header{
    font-size: 3rem;
    color: #eeeeee;
    font-weight: 400;
}
.heroSection__description{
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #eeeeee;
    font-weight: 300;
    line-height: 150%;
    margin: 1.5rem 0;
}
.heroSection__subDescription{
    font-size: 14px;
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 150%;
    font-weight: 300;
}
.footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid #2C3437;
    margin-top: 10.2dvh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.footer__leftSection{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.footer__rightSection{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.footer__links{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
}
.footer__item{
    text-decoration: none;
    color: #eeeeee;
    font-size: 14px;
}
.footer__copyrightLink{
    font-size: 14px;
    text-decoration: none;
    color: #eeeeee;
}
.footer__iconLinks{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}
.footer__button--icon{
    padding: 0.7rem 0.7rem;
}
.footer__button--icon:hover{
    transition: 0.5s;
    background-color: #2C3437;
    padding: 0.7rem 0.7rem;
    border-radius: 8px;
}
@media (max-width: 1239px) {
    .nav__rightSection .button--icon{
        display: none;
    }
}
@media (max-width:991px) {
    .nav__searchButton{
        display: none;
    }
    .nav__mobileLinks{
        display: inline;
        margin-left: auto;
    }
    .nav__links{
        display: none;
    }
    .nav__leftSection{
        margin-left: 6rem;
    }
    .nav__rightSection{
        margin-right :6rem;
    }
    .heroSection{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        gap: 4rem;
        text-align: center;
    }   
    .heroSection__image{
        justify-content: flex-start;
        align-items: center;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .heroSection__header{
        font-size: 3rem;
    }
    .heroSection__description{
        font-size: 16px;
    }
    .heroSection__image img{
        width: 100%;
        max-width: 433px;
    }
    .heroSection__text{
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .button--icon{
        display: none;
    }
    .footer{
        flex-direction: column;
    }
    .footer__leftSection{
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__links{
        gap: 0.8rem;
    }
    .footer__rightSection{
        margin-top: 2rem;
        flex-direction: column;
        margin: 2rem auto 0;
    }
}
@media (max-width:767px) {
    .nav__searchButton{
        display: none;
    }
    .nav__mobileLinks{
        display: inline;
        margin-left: auto;
    }
    .nav__links{
        display: none;
    }
    .nav__leftSection{
        margin-left: 1.5rem;
    }
    .nav__rightSection{
        margin-right: 1.5rem;
    }
    .heroSection{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 4rem;
        align-items: start;
        text-align: center;
    }
    .heroSection__image{
        justify-content: flex-start;
        align-items: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .heroSection__header{
        font-size: 2.2rem;
    }
    .heroSection__description{
        font-size: 16px;
    }
    .heroSection__image img{
        width: 100%;
        max-width: 433px;
    }
    .heroSection__text{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .button--icon{
        display: none;
    }
    .footer{
        flex-direction: column;
    }
    .footer__leftSection{
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__links{
        gap: 0.8rem;
    }
    .footer__rightSection{
        margin-top: 2rem;
        flex-direction: column;
        margin: 2rem auto 0;
    }
}
@media (max-width:413px) {
    .notification__text{
        font-size: 12px;
    }
    .button--text{
        font-size: 14px;
    }
}